{% extends "base.html" %}
{% load static %}

{% block user %}
<body>
    <section>
        <div class="container" >
            <div class="reg">
                <div class="reg__form-box">
                    <h2 class="reg__form-title">Вход</h2>
                    <form class="reg__form" action="{% url 'user_login' %}" method="post">
                        {% if login_form.non_field_errors %}
                        {% comment %} {{ login_form.non_field_errors }} {% endcomment %}
                        {% endif %}
                        {% csrf_token %}
                        {{login_form.username.errors }}
                        <div class="reg__form-div">
                            <label class="reg__form-lable" for="">
                                {{login_form.username.label}}
                            </label>
                            {{login_form.username}}
                        </div>
                        <div class="reg__form-div">
                            <label class="reg__form-lable" for="">
                                {{login_form.password.label}}
                            </label>
                            {% if login_form.password.errors %}
                            {{login_form.password.errors}}
                            {% endif %}
                            {{login_form.password}}
                        </div>
                        <input class="reg__form-but" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    
</body>
</html>
{% endblock user %}

