<header class="header">
        <div class="container">
            <div class="header__upper-box">
                <div class="header__discription">
                    <h1 class="header__title">Forum</h1>
                    <p class="header__text">Дипломный проект А.А. Никитин  Z-17onl</p>
                </div>
                <div class="header__account">
                    <ul class="header__account-list">
                        <li class="header__account-item"><a class="header__account-link" href="">Enter</a></li>
                        <li class="header__account-item"><a class="header__account-link" href="">Registration</a></li>
                        <li class="header__account-item"><a class="header__account-link" href="">Restore record</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-link">
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                </ul>
            </nav>
        </div>
    </header>