:root {
    --main-color: rgb(150, 195, 161);
    --contetn-background: rgb(217, 236, 222);
    --main-text-color: rgb(0, 39, 12);
    --button-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 20px;
    margin: 0;
}

/* TITLES */
h1,
.title1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
}

h2, 
.title2 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
}

h3, h4, h5, h6,
.title3, .title4, .title5, .title6 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.line {
    width: 300px;
    border: none;
    border-bottom: 2px solid var(--main-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}


.header {
    background-color: var(--main-color);
    flex-shrink: 0;
}

.container {
    padding: 10px 10px 2px 10px;
}

.header__upper-box {
    display: flex;
    justify-content: space-between;
}

.header__discription {
    width: 80%;
    padding-left: 20px;
}

.header__title {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
}


.header__account-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    list-style: none;
    align-items: end;
}

.header__account-link {
    display: block;
    margin: 0;
    text-decoration: none;
    color: var(--main-text-color);
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__nav-link {
    padding: 20px 30px;
    color: var(--main-text-color);
    text-decoration: none;
}

.header__nav-link:hover {
    background-color: var(--contetn-background);
}

/* REG */
.content {
    /* background-image: linear-gradient(rgba(200, 199, 209, 0.4), rgba(200, 199, 209, 0.4)),
    url(../image/dark__blue.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

.reg {
    padding-top: 30px;
}

.reg__form-box {
    margin: 20px 200px;
    padding: 0 30px 30px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.reg__form-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.reg__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reg__form-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 5px 50px;
}

.reg__form-div:last-child {
    padding-bottom: 20px;
}

.reg__form-lable {
    flex-shrink: 0;
}

.reg__form-input {
    border: 1px solid var(--main-text-color);
    margin-bottom: 20px;
    background-color: var(--main-color);
    width: 60%;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 20px;
}

.reg__form-input::placeholder {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 20px;
}

.reg__form-input:hover,
.reg__form-input:active,
.reg__form-input:focus {
    background-color: var(--main-color);
    outline: none;
    font-size: 18px;
    line-height: 20px;
}

.reg__form-but {
    width: 100%;
    background-color: var(--button-color);
    color: var(--maim-text-color);
    border: none;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
}

.reg__form-but:hover {
    background-color: var(--contetn-background);
}

.reg__form-but:active {
    background-color: var(--main-color);
}

.footer {
    flex-shrink: 0;
    background-color: var(--main-color);
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 20px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unput-window {
    flex-grow: 1;
    padding: 20px 200px 40px;
}

.create-post {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 50px;
    background-color: var(--main-color);
    border-radius: 10px;
}

[class*="input"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 5px;
}

.cteate-post__label {
    margin-bottom: 5px;
}

.cteate-post__select {
    display: block;
    padding: 7px 30px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--button-color);
}

.cteate-post__input-file {
    display: block;
    background-color: var(--button-color);
}

.main-page {
    color: var(--main-text-color);
    /* background-image: linear-gradient(rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.7)),
    url(../image/dark__blue.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    padding: 20px 70px;
}

.main-page__button {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    background-color: var(--main-color);
    color: var(--main-text-color);
    border: none;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.theme {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    background-color: var(--contetn-background);
}

.theme__name {
    width: 30%;
    margin: 15px;
    padding-left: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.list__link {
    /* text-decoration: none; */
    color: var(--main-text-color);
    
}

.all-records {
    /* color: var(--main-page-text-color); */
    /* background-image: linear-gradient(rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.7)),
    url(../image/dark__blue.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 70px;
    flex-grow: 1;
    color: var(--main-text-color);
}

.record {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 100px; 
}

.record__title {
    display: block;
    padding-top: 15px;
    padding-bottom: 7px;
}

.record__link {
    color: var(--main-text-color);
}

.record__link:visited,
.list__link {
    color: rgb(60, 149, 33);
}

.record__text {
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
}

.record__discription {
    display: block;
    margin-top: 10px;
}

.record__img {
    width: 30%;
    align-self: center;
}

.record__line {
    margin-top: 20px;
}

[class*="record__"]:last-child {
    margin-bottom: 0;
}

.comments {
    padding: 20px 100px; 
    background-color: var(--contetn-background);  
}

.comments__view {
    display: none;
}

.comment-line {
    margin-left: 0;
}

.comment-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 50%;

}

.comment-form__but {
    margin: 15px 0;
    padding: 15px 30px;
    align-self: start;
    background-color: var(--button-color);
    border: none;
}

img {
    width: 30%;
}