{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock base_styles %}
    {% block style %}{% endblock style %}
    <title>MYforum</title>
</head>
<body>
<div class="wrapper">
<header class="header">
        <div class="container">
            <div class="header__upper-box">
                <div class="header__discription">
                    <h1 class="header__title">Forum</h1>
                    <p class="header__text">Дипломный проект А.А. Никитин  Z-17onl</p>
                </div>
                <div class="header__account">
                    <ul class="header__account-list">
                        {% if user.is_authenticated %}
                        Привет,{{user.username}}!
                        <li class="header__account-item"><a class="header__account-link" href="{% url 'logout_page' %}">Выход</a>
                        {% else %}
                        <li class="header__account-item"><a class="header__account-link" href="{% url 'user_login' %}">Вход</a>
                        <li class="header__account-item"><a class="header__account-link" href="{% url 'register_user' %}">Регистрация</a> 
                        {% endif %}
                        <li class="header__account-item"><a class="header__account-link" href="">Восстановить пароль</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-link">
                    <li class="header__nav-item"><a class="header__nav-link" href="/../posts/all/">Все посты</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="/../posts/cat/">Категории</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="">Menu item</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% comment %} {% block header %}
    {% include "blocks/header.html" %}
    {% endblock header %} {% endcomment %}

    <div class="content">
        {% block user %}{% endblock user %}
        {% block post %}{% endblock post %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__box">
                <p>This is my first  forum :)</p>
                <div>&#169 Andrey Nikitsin</div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>