{% extends "base.html" %}
{% block post %}

<body>
    <section class="main-page">
        <div class="container">
            <div class="theme">
                {% for b in view.get_category %}
                <div class="theme__name">
                    <h2 class="title2">{{b}}</h2>
                    <ul class="list">
                        {% for a in page_obj  %}
                        {% if a.category == b %}
                        <li class="list__item"><a class="list__link" href="{% url 'single_post' a.slug %}">{{a.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}         
            </div>
        </div>
        {% if user.is_authenticated %}
        <a class="main-page__button" href="{% url 'new_cat' %}">Добавить раздел</a> 
        <p></p>
        <a class="main-page__button" href="{% url 'new_post' %}">Добавить пост</a> 
        {% else %}
        <a class="main-page__button" href="{% url 'user_login' %}">что бы добавить категорию, авторизируйтесь</a> 
        {% endif %}
    </section>
</body>
{% endblock post %}