{% extends "base.html" %}
{% load static %}
{% block post %}
<body>
    <div class="unput-window">
        <div class="container">
            <form class="create-post" method="post" action="{% url 'new_post' %}" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'author' %}
                <div class="form__div">
                <label class="cteate-post__label title1" for="topic"> {{field.label}}</label>
                {{field}}
                </div>
                {% endif %}
                {% endfor %}
                <input class="reg__form-but" type="submit" value="Create">
            </form>
        </div>
    </div>
</body> 

{% endblock post  %}