{% extends "base.html" %}
{% block post %}
<h2>{{post.title}}</h2>
    <p>{% if post.author.first_name %}
     {{post.author.first_name}} {{post.author.last_name}}{% else %} {{post.author.username}} {% endif %}</p>
     {% if post.image %}
    <img src="{{post.image.url}}" />
    {% endif %}
    <ul>
    {% for t in post.tags.all %}
        <li><a href="">{{t.value}}</a></li>
    {% endfor %}
    </ul>
    <p>{{post.created}}</p>
    <p>{{post.views}} {{view.single_post}}</p>
    <p>{{post.text}}</p>
    <p>{{post.id}}</p>
    {% for comment in view.get_comment %}
    {% if comment.post_name == post %}
    <p>{{comment.author}}</p>
    <p>{{comment}}</p>
    <p>{{comment.created}}</p>
    {% else %}
    {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated %}
    <form class="create-post" method="post" action="{% url 'single_post' post.slug %}"  enctype="multipart/form-data">
            {% csrf_token %}
                {{form.commit}}
                <input class="reg__form-but" type="submit" value="Create">
            </form>
    {% endif %}
{% endblock post %}